<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>React Expense Manager</title>
  </head>
  <body>
    <h2>React Expense Manager Application</h2>
    <div id="root"></div>
    
  </body>
</html>
